<meta charset="UTF-8">
<meta name="viewport"
      content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>GENTLE INSPIRATION</title>
<meta name="description" content="GENTLE INSPIRATION MOCKUP">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="GENTLE INSPIRATION">
<meta property="og:image" content=""><!--  800x400  -->

<link rel="stylesheet" href="css/normalize.css">

<link rel="stylesheet" href="css/main.css">