<div class="navi-top">
    <div class="list-btn" onclick="location.href='list-gmpick.html'">
        <img src="./asset/img/header/list-btn-b.png" alt="">
    </div>
    <div class="logo" onclick="location.href='index.html'">
        <img src="./asset/img/header/logo-b.png" alt="">
    </div>
    <div class="util-btn" onclick="utilBtn(this)">
        <img class="util-normal" src="./asset/img/header/util-btn-b.png" alt="">
        <img class="util-active" src="./asset/img/header/util-btn-b-act.png" alt="">
    </div>
</div>
<div class="navi-middle">
    <div class="util-list">
        <div>
            <img src="./asset/img/header/icons1-b.png" alt="">
        </div>
        <div class="search-bar">
            <img src="./asset/img/header/border-b.png" alt="">
            <input id="searchTxt" type="text">
        </div>
        <div class="search-btn" onclick="searchBtn()">
            <img src="./asset/img/header/icons2-b.png" alt="">
        </div>
    </div>
</div>
<div class="navi-bottom">
    <div onclick="location.href='gmpick.html'">
        <img src="./asset/img/header/gmpick-r.png" alt="">
    </div>
    <div class="navi-list-btn" onclick="menuBtn(this)">
        <img src="./asset/img/header/board-b.png" alt="">
    </div>
    <div onclick="location.href='monster1.html'">
        <img src="./asset/img/header/monster1-b.png" alt="">
    </div>
</div>
<div class="navi-list" onclick="location.href='board.html'">
    <img src="./asset/img/header/board2depth-b.png" alt="">
</div>